.field {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 5px;
}

.cell {
  width: 80px;
  height: 80px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
